#buy-now-button {margin: 20px 0px ;} 

form label {
    width: 200px;
    clear: left;
}

form textarea {
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

form input,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    height: 30px;
}

form .money-input {
    position: relative;
}
form .money-input::before {
    content: "$";
    font-weight: bold;
    position: relative;
    left: -13px;
    top: 5px;
    position: absolute;
    font-size: 20px;
}

a.btn-demo-launch {
    color: black;
}

.btn-demo {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #7acaea;
  background-color: #7acaea;
  background-image: linear-gradient(to bottom, #7acaea, #2895C0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  width: 13rem;
  height: 9rem;
  font-size: 33.5px;
  line-height: 4rem;
}

.btn-demo-buyer {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ee5e26;
  background-image: linear-gradient(to bottom, #F77543, #ee5e26);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  width: 13rem;
  height: 9rem;
  font-size: 33.5px;
  line-height: 4rem;
}

.btn-demo-buyer:hover{ background-color: #ee5e26}

.btn-demo:hover { background-color: #2895C0 };


#wrap {
   width:1000px;
   margin:1rem;
}
#left_col {
   float:left;
   width:360px;
}
#right_col {
   float:right;
   width:450px;
}

#checkout_wrap {
   margin-top:22rem;
   color:gray;
}